<main class="px-10 max-md:px-1">
  <h1 class="page-header max-md:px-4">
    Setup + Gadgets + Softwares

    <span>Um pouco do que é minha rotina, o que tenho na minha mesa e os equipamentos que uso no dia a dia.</span>
  </h1>

  <div class="flex flex-col gap-12 fadeIn max-md:px-4">
    <div class="flex gap-14 max-md:flex-col">
      <h2 class="text-xl font-extrabold text-primary-brand">Workstation</h2>
      <div>
        <ul class="flex flex-col gap-9">
          <li class="relative">
            <div class="circle w-3 h-3 left-[-24px] top-1.5 bg-primary-brand rounded-full absolute max-md:hidden"></div>
            <span class="font-extrabold">MacBook Pro de 14”, M4 Pro, 24 GB de RAM (2024)</span>
            <p class="max-w-96">Um pouco do que é minha rotina, o que tenho na minha mesa e os equipamentos que uso no dia a dia.</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="flex justify-end fadeIn">
      <div class="flex gap-14 max-md:flex-col">
        <h2 class="text-xl font-extrabold text-[#3AC4F2]">Development <br/>tools</h2>
        <div>
          <ul class="flex flex-col gap-9">
            <li class="relative">
              <div class="circle w-3 h-3 left-[-24px] top-1.5 bg-[#3AC4F2] rounded-full absolute max-md:hidden"></div>
              <span class="font-extrabold">MacBook Pro de 14”, M4 Pro, 24 GB de RAM (2024)</span>
              <p class="max-w-96">Um pouco do que é minha rotina, o que tenho na minha mesa e os equipamentos que uso no dia a dia.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div>
      <div class="flex gap-14 fadeIn">
        <div class="flex gap-14 max-md:flex-col">
          <h2 class="text-xl font-extrabold text-[#F2C43A]">Productivity</h2>
          <div>
            <ul class="flex flex-col gap-9">
              <li class="relative">
                <div class="circle w-3 h-3 left-[-24px] top-1.5 bg-[#F2C43A] rounded-full absolute max-md:hidden"></div>
                <span class="font-extrabold">MacBook Pro de 14”, M4 Pro, 24 GB de RAM (2024)</span>
                <p class="max-w-96">Um pouco do que é minha rotina, o que tenho na minha mesa e os equipamentos que uso no dia a dia.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
