<main class="px-10 max-md:px-1">
  <h1 class="page-header  max-md:px-4">
    Articles

    <span>some things I've been writing, follow me on <b>medium</b>!</span>
  </h1>

  <hr class="h-[1px] border-gray-secondary text-[0px] mx-[10%] my-24">

  <div class="grid grid-cols-[repeat(auto-fill,minmax(400px,1fr))] gap-8 max-md:flex max-md:flex-col">
    <div class="flex justify-center items-center">
      <div class="flex min-h-64 w-[95%] border solid border-gray-secondary bg-transparent max-md:px-6 rounded-lg">

      </div>
    </div>
  </div>
</main>
