<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redireciona tudo que não for um arquivo ou diretório existente para o index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  RewriteRule ^ index.html [L]
</IfModule>
