<main class="flex flex-col gap-16 justify-between h-full">
  <div class="flex gap-14 px-10 max-md:flex-col max-md:px-6">
    <aside class="side-l flex flex-col items-center gap-16">
      <div class="c-img bg-[#343434] h-80 w-80 flex items-center justify-center">
        <img class="h-80" src="assets/img/2BE6DDB9-305C-40EF-8DF8-9543316D09CB.JPG">
      </div>

      <div class="text-[40px] flex gap-4">
        <i class="fa-brands fa-github text-ft-primary cursor-pointer transition-all duration-300 ease-in-out hover:text-primary-brand"
          (click)="goTo('https://github.com/hnunezz')"></i>
        <i class="fa-brands fa-x-twitter text-ft-primary cursor-pointer transition-all duration-300 ease-in-out hover:text-primary-brand"
          (click)="goTo('')"></i>
        <i class="fa-brands fa-instagram text-ft-primary cursor-pointer transition-all duration-300 ease-in-out hover:text-primary-brand"
          (click)="goTo('https://www.instagram.com/hnunes0/')"></i>
        <i class="fa-brands fa-linkedin text-ft-primary cursor-pointer transition-all duration-300 ease-in-out hover:text-primary-brand"
          (click)="goTo('https://www.linkedin.com/in/henrique-nunes-de-almeida-ba897a1aa/')"></i>
      </div>
    </aside>

    <aside class="flex flex-col gap-8 max-md:text-center">
      <h1 class="text-6xl font-extrabold">Henrique Nunes</h1>
      <p>
        {{"ABOUT.LINE_1.DESCRIPTION" | translate}}
        <b class="text-ft-primary"> {{"ABOUT.LINE_1.FRONT-END" | translate}}</b>,
        {{"ABOUT.LINE_1.SPECIALIZING" | translate}} <b class="text-red-500">{{"ABOUT.LINE_1.ANGULAR" | translate}}</b>,
        {{"ABOUT.LINE_1.WORK_TOOL" | translate}}.
        <br /> <br />

        {{"ABOUT.LINE_2.DESCRIPTION" | translate}}
        <br /> <br />

        {{"ABOUT.LINE_3.DESCRIPTION" | translate}}
        (<b class="text-ft-primary">Corinthians</b>).<br /> {{"ABOUT.LINE_3.DESCRIPTION_2" | translate}}  <b class="text-ft-primary italic">TOCA RAUL</b>! <br />
        {{"ABOUT.LINE_3.DESCRIPTION_3" | translate}}

      </p>
    </aside>
  </div>

  <hr class="h-[1px] border-gray-secondary text-[0px] mx-[10%] my-8">

  <div class="px-10">
    <h1 class="text-3xl font-extrabold pl-5 mb-12 max-md:p-0 max-md:text-center">{{"ABOUT.TITLE_SECT1" | translate}}</h1>

    <app-drop-area />
  </div>

  <div>
    <h1 class="text-3xl font-extrabold mb-12 pl-[60px] max-md:p-0 max-md:text-center">{{"ABOUT.TITLE_SECT2" | translate}}</h1>

    <app-card-carousel [data]="cards" [interval]="3500">
    </app-card-carousel>
  </div>
</main>
