<section class="border-r-0 border-y-0 border-l-[3px] border-solid border-primary-brand max-md:ml-4">
  <ul class="flex flex-col gap-16 pt-5">
    @for (project of projects(); track $index) {
      <li class="relative">
        <div class="absolute left-[-12px] w-5 h-5 rounded-[20px] bg-primary-brand"></div>
        <div class="flex flex-col pl-5 gap-2">
          <small class="text-gray-primary font-light">{{project.year}}</small>
          <span class="text-ft-primary font-extrabold text-[26px]">{{project.title}}</span>
          <small class="text-gray-primary font-medium ont-normal text-lg cursor-pointer transition-all duration-300 ease-in-out hover:text-primary-brand" (click)="seeMore(project.path)">{{'TIMELINE.ACTION' | translate}} ></small>
        </div>
      </li>
    }
  </ul>
</section>
