<div class="fixed w-full h-full z-[51] hidden" [ngClass]="{'active': open}">
  <div class="w-full h-full relative flex justify-center pt-4 px-3">
    <ul class="fab-menu w-full h-fit p-4 pb-10 rounded-2xl z-[953] flex flex-col gap-2"
      [ngClass]="{'fab-menu--open' : open}">

      <div class="flex justify-end mb-2">
        <div
          class="header-action-btn w-10 h-10 rounded-full flex justify-center items-center cursor-pointer text-[#e8e8e8] hover:text-primary-brand"
          (click)="close()">
          <i class="fa-solid fa-xmark text-xl transition-all duration-300 ease-in-out"></i>
        </div>
      </div>

      @for (nav of navigation(); track $index) {
      <li
        class="p-4 text-center rounded-xl transition-all duration-300 ease-in-out text-[#a1a1aa] border border-transparent hover:border-primary-brand hover:bg-primary-brand-soft cursor-pointer font-medium hover:text-white"
        (click)="onSelect(nav.anchor)">
        <span class="text-xl">{{nav.labelKey | translate}}</span>
      </li>
      }
    </ul>
  </div>
</div>
