<div class="menu-backdrop" [ngClass]="{ active: open }" (click)="close()">
  <div
    class="menu-panel"
    [ngClass]="{ 'panel--open': open }"
    (click)="$event.stopPropagation()"
  >
    <!-- <div class="menu-panel__header">
      &nbsp;
      <span class="menu-label">Menu</span>
      <button class="menu-close" (click)="close()">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div> -->

    <ul class="menu-nav">
      @for (nav of navigation(); track $index) {
      <li
        class="menu-nav__item"
        [class.panel--open]="open"
        [style.--i]="$index"
        (click)="onSelect(nav.anchor)"
      >
        <span>{{ nav.labelKey | translate }}</span>
        <i class="fa-solid fa-chevron-right menu-nav__chevron"></i>
      </li>
      }
    </ul>
  </div>
</div>
